body {
	font-family: tahoma;
	min-width: 920px;
}

.modal-header {
	background-color: #4F9DEF;
	color: #ffffff;
}

.loader {
	background-image: url("../img/loader-grey.gif");
	background-repeat: no-repeat;
	height: 88px;
	width: 128px;
	display: none;
	position: absolute;
	top: 36%;
	left: 40%;
}

.login-section {
	margin-top: 15%;
}

.logo-box, .login-box {
	margin: 0 auto;
	width: 35%;
}

.logo-box {
	text-align: center;
	margin-bottom: 20px;
}

.logo-box img {
	width: 50%;
}

.login-box {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 1px 1px 5px #333333;
	z-index: 1;
}

header {
	color: white;
	background-color: #4F9DEF;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666',endColorstr='#ff222222',GradientType=0);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 7px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	position: relative;
	z-index: 2;
	margin-bottom: 15px;
}

.menu-topbar {
	background-color: #4F9DEF;
	height: auto;
	padding: 0px;
	color: #ffffff;
	box-shadow: 0px 2px 3px #777;
}

.menu-logo img {
	height: 47px;
	width: 100px;
	padding-left: 5px;
	position: relative;
	top: 3px;
}

.menu-logo {
	width: auto;
	height: auto;
}

.account-box {
	padding: 10px;
}

.account-box span {
	margin: 0px 5px 0px 5px;
}