.paginate_button, .paginate_active {
	background-color: #4F9DEF;
	text-decoration: none !important;
	padding: 4px 7px;
	color: #ffffff;
	margin: 0px 1px;
	border-radius: 3px;
	cursor: pointer
}

.paginate_button_disabled {
	opacity: 0.3;
}

.paginate_active, .paginate_button:hover {
	font-weight: normal;
	background-color: #B2DFF4;
	color: #000000;
}

table td {
	border-right: 1px solid lightgray;
	padding: 3px;
}

td:last-child, th:last-child {
	border-right: none;
}

th {
	border-right: 1px solid gray;
	border-bottom: 2px solid #4F9DEF;
	padding: 4px;
	font-weight: bold;
	background-color: lightgray;
	color: #000000;
}

tr:nth-child(even) {
  background-color: #e3e3e3;
}

tr:hover {
	background-color: #B2DFF4;
	cursor: pointer;
}

tr:first-child:hover {
}

table {
	margin: 15px 0px;
	/*font-size: 13px;*/
	border: 1px solid #e3e3e3;
	box-shadow: 2px 2px 3px #999;
	max-height: 200px;
	overflow: auto;
	width: 100%;
	clear: both;
}

.services-table-container {
	width: 80%;
	margin: 0 auto;
}

.question-container {
	width: 95%;
	margin: 0 auto;
	margin-top: 50px;
}

.question-container .table-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}

.services-table-container, label {
	/*font-size: 12px !important;*/
}

.dataTables_paginate, .dataTables_length {
	float: right;
}

.dataTables_info, .dataTables_filter {
	float: left;
}

.dataTables_filter, .dataTables_length {
	margin-bottom: 3px;
}

.dataTables_length select {
	width: 50px;
}

.dataTables_filter input {
	border: 1px solid #4F9DEF !important;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}

.add-service-button {
	margin: 0px 2px;
}

input[type="checkbox"] {
	margin-top: 0px !important;
}